# Necessary Imports

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

# Using pd.date_range function

In [2]:
date_rng = pd.date_range(start='01-01-2018', end='01-08-2018', freq='H')
date_rng

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00', '2018-01-01 03:00:00',
               '2018-01-01 04:00:00', '2018-01-01 05:00:00',
               '2018-01-01 06:00:00', '2018-01-01 07:00:00',
               '2018-01-01 08:00:00', '2018-01-01 09:00:00',
               ...
               '2018-01-07 15:00:00', '2018-01-07 16:00:00',
               '2018-01-07 17:00:00', '2018-01-07 18:00:00',
               '2018-01-07 19:00:00', '2018-01-07 20:00:00',
               '2018-01-07 21:00:00', '2018-01-07 22:00:00',
               '2018-01-07 23:00:00', '2018-01-08 00:00:00'],
              dtype='datetime64[ns]', length=169, freq='H')

# Using DatetimeIndex to index a dataframe

In [5]:
df = pd.DataFrame(index=date_rng, data={'Numbers': np.random.randint(0,100,size=len(date_rng))})
df.head()

                     Numbers
2018-01-01 00:00:00       59
2018-01-01 01:00:00       56
2018-01-01 02:00:00       20
2018-01-01 03:00:00       75
2018-01-01 04:00:00       52

In [7]:
# Query to see the data where the day of the month is 2nd
df[df.index.day == 2].head()

                     Numbers
2018-01-02 00:00:00        0
2018-01-02 01:00:00       91
2018-01-02 02:00:00        4
2018-01-02 03:00:00       94
2018-01-02 04:00:00       61

In [8]:
# Data from FromDate to ToDate
df['2018-01-03':'2018-01-04'].head()

                     Numbers
2018-01-03 00:00:00       21
2018-01-03 01:00:00       20
2018-01-03 02:00:00       30
2018-01-03 03:00:00       69
2018-01-03 04:00:00       96

In [9]:
# Resampling the data at a different frequency
df.resample('D').mean()

              Numbers
2018-01-01  50.041667
2018-01-02  57.416667
2018-01-03  32.208333
2018-01-04  41.166667
2018-01-05  50.583333
2018-01-06  45.125000
2018-01-07  47.583333
2018-01-08  78.000000

# Converting  from epoch time to Timestamp

In [11]:
epoch_t = 1529272655
real_t = pd.to_datetime(epoch_t, unit='s')
real_t

Timestamp('2018-06-17 21:57:35')

# Converting from UTC to local timezone

In [13]:
real_t.tz_localize('UTC').tz_convert('US/Pacific')

Timestamp('2018-06-17 14:57:35-0700', tz='US/Pacific')

---

# Converting string to TimeStamp

In [16]:
# Prepare list of strings contains the datetime value
string_date_rng = [str(x) for x in df.index]
string_date_rng[:5]

['2018-01-01 00:00:00',
 '2018-01-01 01:00:00',
 '2018-01-01 02:00:00',
 '2018-01-01 03:00:00',
 '2018-01-01 04:00:00']

In [17]:
# Converting string list to TimeStamp list
ts_date_rng = pd.to_datetime(string_date_rng)
ts_date_rng

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00', '2018-01-01 03:00:00',
               '2018-01-01 04:00:00', '2018-01-01 05:00:00',
               '2018-01-01 06:00:00', '2018-01-01 07:00:00',
               '2018-01-01 08:00:00', '2018-01-01 09:00:00',
               ...
               '2018-01-07 15:00:00', '2018-01-07 16:00:00',
               '2018-01-07 17:00:00', '2018-01-07 18:00:00',
               '2018-01-07 19:00:00', '2018-01-07 20:00:00',
               '2018-01-07 21:00:00', '2018-01-07 22:00:00',
               '2018-01-07 23:00:00', '2018-01-08 00:00:00'],
              dtype='datetime64[ns]', length=169, freq=None)

In [18]:
# Converting into a particular format
string_date_rng_2 = ['June-01-2018', 'June-02-2018', 'June-03-2018']
timestamp_date_rng_2 = [datetime.strptime(x,'%B-%d-%Y') for x in string_date_rng_2]
timestamp_date_rng_2

[datetime.datetime(2018, 6, 1, 0, 0),
 datetime.datetime(2018, 6, 2, 0, 0),
 datetime.datetime(2018, 6, 3, 0, 0)]